html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body{
    margin: 0;
    padding: 0;
}
.backGR{
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    overflow: hidden;
}
.yellow_part{
    width: 100%;
    height: 1080px;
    background: #F2C94C;
}
.purple_part{
    height: 2367px;
    width: 2367px;
    position: absolute;
    left: 616px;
    top: 0;
    background: #BB6BD9;
    transform: rotate(45deg);
}
 .main_btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    position: absolute;
    width: 135px;
    height: 52px;
    left: 893px;
    top: 514px;
    background: #FFFFFF;
    border-radius: 8px;
    border-color: transparent;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #000;
    cursor: pointer;
}
button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}
.page_ccc{
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.2);
    display: none;
}
.browser_bar{
    width: 1280px;
    height: 720px;
    display: none;
    position: relative;
    bottom:1080px;
    left: 3%;

    background: #FFFFFF;
    border-radius: 16px;
}
.nav_bar{
    position: absolute;
    width: 1280px;
    height: 50px;
    left: 0;
    top: 0;
    background: #E0E0E0;
    border-radius: 16px 16px 0 0;
}
.cont_panel{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 104px;
    height: 24px;
    left: 24px;
    top: 13px;
}
.red_btn{
    position: static;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    background: #EB5757;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
}
.yell_btn{
    position: static;
    width: 24px;
    height: 24px;
    left: 40px;
    top: 0;
    background: #F2C94C;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 16px;
    border-radius: 50%;
}
.green_btn{
    position: static;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 0;
    background: #27AE60;
    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 50%;
}
.content_block{
    position: absolute;
    width: 1280px;
    height: 338px;
    left: 0;
    top: 66px;
    background: #C4C4C4;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 1056px;
    height: 226px;
    left: 112px;
    top: 56px;
}
.card_cont{
    position: static;
    width: 504px;
    height: 226px;
    left: 0;
    top: 0;
    background: #F2F2F2;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0;
}
.about_cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: static;
    width: 504px;
    height: 226px;
    left: 552px;
    top: 0;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 0 0 0 48px;
}
.top_cont{
    position: static;
    width: 504px;
    height: 105px;
    left: 0;
    top: 0;
    background: #F2F2F2;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.bottom_cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: static;
    width: 504px;
    height: 89px;
    left: 0;
    top: 137px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 32px 0;
}
.item1_content{
    position: static;
    width: 504px;
    height: 19px;
    left: 0;
    top: 0;
    background: #F2F2F2;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.item2_content{
    position: static;
    width: 504px;
    height: 19px;
    left: 0;
    top: 35px;
    background: #F2F2F2;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    margin: 16px 0;
}
.item3_content{
    position: static;
    width: 252px;
    height: 19px;
    left: 0;
    top: 70px;
    background: #F2F2F2;
    flex: none;
    order: 2;
    flex-grow: 1;
}
.btn_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 916px;
    height: 52px;
    left: 152px;
    top: 427px;
}
.btn1{
    width: 198px;
    height: 52px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

}
.btn1 > button{
    position: absolute;
    width: 198px;
    height: 52px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-color: transparent;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
.btn2{
    width: 308px;
    height: 52px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

}
.btn2 > button{
    position: absolute;
    top: 0;
    left: 0;
    width: 308px;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-color: transparent;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
.btn3{
    width: 89px;
    height: 52px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

}
.btn3 > .ul_btn > button{

    position: absolute;
    width: 89px;
    height: 52px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-color: transparent;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.btn4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    position: relative;
    width: 101px;
    height: 52px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 8px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000000;

}

.btn4:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 111px;
    height: 62px;
    left: 815px;
    top: 0;
}
.disable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: absolute;
    width: 150px;
    height: 52px;
    left: 193px;
    top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.btn2 > button:focus + button {
    z-index: 2
}
.btn2 > button:nth-child(1) {
    z-index: 1
}
.btn3 > .active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    width: 98px;
    height: 156px;
    left: 0;
    top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.btn3 > .active > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    position: static;
    width: 98px;
    height: 52px;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
    border-radius: 8px 8px 0px 0px;

}
li{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;

    color: #000000;
}
li:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 98px;
    height: 52px;
    left: 0px;
    top: 52px;
}

li:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 98px;
    height: 52px;
    left: 0px;
    top: 104px;
    border-radius: 0px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}
